{% extends "base.html" %}
{% block content %}
  <h1>{{ehdokas.nimi}}</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää tietoa</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Vuosi</th>
        <th>Aanimaara</th>
        <th>Puolue</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for historia in historiat %}
        <tr>
          <td>{{historia.vuosi}}</td>
          <td>{{historia.aanimaara}}</td>
          <td>{{ehdokas.puolue_id}}</td>
          <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}