{% extends "base.html" %}
{% block content %}
  <h1>Uusi tieto</h1>
  
  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
            <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/ehdokas/{{ehdokas.id}}/newhist">
    <div class="form-group">
      <label>Vuosi</label>
      <input type="number" name="vuosi" class="form-control">
    </div>

    <div class="form-group">
      <label>Äänimäärä</label>
      <input type="number" name="aanimaara" class="form-control">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Uusi</button>
    </div>
  </form>
{% endblock %}
