{% extends "base.html" %}
{% block content %}
  <h1>Ehdokkaan tiedot</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää tietoa</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Vaalit</th>
        <th>Vuosi</th>
        <th>Aanimaara</th>
        <th>Puolue</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td>Kuntavaalit</td>
        <td>2011</td>
        <td>13 789</td>
        <td><label class="label label-danger">Perussuomalaiset</label></td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}